// font
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

// colors palete
$color-one: #ff7315;
$color-two: #f4f4f4;
$color-three: #202125;
$color-four: #17181c;

$color-white: #fff;
$color-black: #000;

//  
$gutter: 1em;

//
$font: 'Play',
sans-serif;
$bold: 700;
$regular: 400;

// Reseter
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    &,
    button,
    input {
        font-family: $font;
        font-weight: $regular;
    }
}

.btn {
    border: none;
    outline: none;

    display: inline-flex;
    align-items: center;

    padding: 5px 10px;
    border-radius: 2px;

    transition: transform .3s;
    background-color: $color-white;
    border: 1px solid darken($color: $color-white, $amount: 1%);

    &>* {
        transition: transform .5s
    }

    &:hover {
        cursor: pointer;
        background-color: darken($color: $color-white, $amount: 10%);

        &>* {
            transform: rotate(-90deg);
        }
    }
}

.link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.head {
    padding: $gutter 0;
    color: $color-white;
}

.container {
    padding: 0 $gutter;
    background: $color-four;
}