@import 'resources';

.container{ 
    margin: 0 $gutter;
    position: relative;
}

.with-min-heigth{ 
    min-height: 200px;
}

// esta es como una malla
.df-spacebw{ display: flex; justify-content: space-between; }

.selector{
    display: inline-flex;
    align-items: center;

    background-color: darken($color: $color-two, $amount: 5%);

    border-radius: 5px;
    padding: 2.5px 5px;

    margin-right: 5px;
    margin-top: 5px;
    
    &-checkbox{
    }

    &-body{
        display: flex;
        flex-direction: column;
        padding: 0 5px;
    }

    &-delete{ color: $color-one; }
}
 
.btn{
    border-radius: 5px;
    padding: 5px 10px;

    position: absolute;
    right: 0;
    bottom: $gutter;
    background-color: $color-one;
}

.text-area{
    border-radius: 5px;
    background-color: darken($color: $color-two, $amount: 5%);
    margin-top: $gutter;
    padding: 5px;
}
